body{
    padding-top: 100px;
    background-size:cover;
    z-index: -2;
}
#myCanvas{
    border:10px solid black;
    box-shadow: 2px solid rgb(0,0,0,.6);
    cursor: none;
}
#cursor{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    z-index: -1;
}

#text-input-group{
    position: absolute;
    display: none;
    width: 200px;
}
#text{
    width: 100%;
}

#tools .row{
    margin:10px 0px!important;
}
